
/*circle-provider*/

.progress-bar{
  
    display: inline-block;
    position: relative;
    text-align: center;

    background:transparent;
   
    
}
.progress-bar strong{
    
    position: absolute;
    background: transparent;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
} 
 .block-bar{
    display: block;
}
.block-progress{
  display: inline-block;
}



.steps {
  margin: 40px;
  padding: 0;
  overflow: hidden;
}
.steps a {
  color: white;
  text-decoration: none;
}
.steps em {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
}
.steps li {
  float: left;
  margin-left: 0;
 
  width: 150px;
   /* 100 / number of steps */
  height: 80px; /* total height */


  list-style-type: none;
  padding: 25px 5px 5px 30px; /* padding around text, last should include arrow width */
  border-right: 3px solid white; /* width: gap between arrows, color: background of document */
  position: relative;
}
/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
  position: absolute;
  top:0;
  left:0;
  display: block;
  border-left: 25px solid white; /* width: arrow width, color: background of document */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width: 0;
  height: 0;
  content: " ";
}
/* colored arrow to the right */
.steps li::after {
  z-index: 1; /* need to bring this above the next item */
  position: absolute;
  top: 0;
  right: -25px; /* arrow width (negated) */
  display: block;
  border-left: 26px solid transparent; /* width: arrow width */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width:0;
  height:0;
  content: " ";
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li { background-color: #7C8437; }
.steps li::after { border-left-color:  #7C8437 ; }

/* Current */
.steps li.current { background-color: #C36615; }
.steps li.current::after { border-left-color: #C36615; }

/* Following */
.steps li.current ~ li { background-color: #7C8437; }
.steps li.current ~ li::after {	border-left-color: #7C8437; }

/* Hover for completed and current */
.steps li:hover {background-color: #696}
.steps li:hover::after {border-left-color: #696}

  

  /*Menu+SubMenu*/
  .navigation {
    width: 100%;
  }
  
  /* reset our lists to remove bullet points and padding */
  .mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* make ALL links (main and submenu) have padding and background color */
  .mainmenu a {
    display: block;
    background-color: transparent;
    text-decoration: none;
    padding: 10px;
    color: #000;
    color: white;
  }
  
  /* add hover behaviour */
  .mainmenu a:hover {
      background-color: transparent;
  }
  
  
  /* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */
  
  .mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
  }
  
  /*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */
  
  .submenu a {
    background-color: #999;

  }
  
  /* hover behaviour for links inside .submenu */
  .submenu a:hover {
    background-color: #666;
  }
  
  /* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
  }


  /*Table*/
  .table-wrapper {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/*infotable*/

table.table{
  width: 300px;
  border-collapse:collapse;
  float: left;
}
table.table:last-of-type{
  margin-left:10px;
}
table.table th{
  text-align:left;
}

table.table tbody tr.selected {
    background-color: #f0f0f0;
}